@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body,
html {
	margin: 0px;
	padding: 0px;
	background-image: url('stack.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

* {
	font-family: 'Amatic SC', cursive;
}

.bg {
	height: 100%;
	width: 100%;
	top: 0;
	padding: none;
	position: fixed;
	mix-blend-mode: overlay;
}

.bg video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* opacity: 0.8; */
}
h1,
p {
	color: #b7410e;
	font-size: 25px;
}

.toss {
	position: relative;
	justify-self: center;
	z-index: 10;
	font-size: 100px;
	font-weight: 800;
	color: #fff;
	line-height: 1em;
	text-transform: uppercase;
	margin-right: auto;
}

.text {
	justify-content: center;
}
